body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}
header {
  background: #004080;
  color: white;
  padding: 2em;
  text-align: center;
}
main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  background: white;
}
h1 {
  color:white;
}
h2 {
  color: #004080;
}
footer {
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  background: #e0e0e0;
}
a {
  color: #004080;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info {
  margin-top: 0.8rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.4em 0.8em;
  background-color: #1a3c6c;
  color: white;
  border-radius: 6px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}
.more-info:hover {
  background-color: #305d96;
}

